
/* swiper Styles */
html{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
    width: 100%;
	height: 100%;
    overflow: hidden !important;
}
.header{
    width: 100%;
    height: 15%;
	position:fixed !important;
    top:0px !important;
    z-index:100;
} 
.content{
	height: 80%;
    padding-bottom:15%;
    padding-top:15%;
}
.footer{
    background: #333;
	position:fixed !important;
    width: 100%;
    height: 15%;
    bottom:0px !important;
    z-index:100;
}
.header .title, .footer .title{
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding-top: 25px;
}
.footer .arrow-left {
  background: url(img/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.footer .arrow-right {
  background: url(img/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.swiper-container, .swiper-wrapper, .swiper-slide
{
    width: 100%;
    height: 100% !important;
	min-height: 100%;
	margin: auto;
    color: #fff;
    text-align: center;
}
.red-slide
{
    background: #ca4040 !important;
}
.blue-slide
{
    background: #4390ee !important;
}
.orange-slide
{
    background: #ff8604 !important;
}
.green-slide
{
    background: #49a430 !important;
}
.pink-slide
{
    background: #973e76 !important;
}
.swiper-slide .title
{
    font-style: italic;
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 45px;
}
.swiper-slide p
{
    font-style: italic;
    font-size: 25px;
}
.pagination
{
    position: absolute;
    z-index: 20;
    left: 10px;
    top: 10px;
}
.swiper-pagination-switch
{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin: 0 0px 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-active-switch
{
    background: #fff;
}